name: run using pull request

on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    paths:
      - 'code/**'
      - 'src/**'
      - '.github/workflows/**'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository 
        uses: actions/checkout@v3
      - name: display changes on src or code files
        run: |
          echo "there are changes on scr folder"
          echo "there are changes on code folder"
          tree

