name: run github actions every 5 min
on:
  push:
    branches:
      - main
  schedule:
    - cron: "*/5 * * * *"
jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print message every 5 min
        run: ech "every 5 min i been runned"

      
