name: run workfolw manually
on:
  workflow_dispatch:


jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Display msg
        run: echo "this not run from it self, you must run it manually, from button"
