name: run using pull request

on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    paths:
      - 'code/**'
      - 'src/**'
      - '.github/workflows/**'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: check if request is pulled
        run: echo "here requests that are pulled"

