name: run using pull request

on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: check if request is pulled
        run: echo "here requests that are pulled"

